:root {
	--red: #c5203b;
	--gray: #dcdc;
	--alert-border: #f0c9cf;
	--alert-bg: #f9e9eb;
	--alert-icon: #d96c7e;
	--black: #555;
}

* {
	font-family: Montserrat;
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}

.login-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--gray);
	border-radius: 5px;
	padding: 30px 40px;
}

.input-label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: var(--black);
}

.login-container div img {
	width: 150px;
	margin-bottom: 40px;
}

.login-container div form {
	width: 300px;
}

.input-input {
	padding: 10px 15px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--gray);
}

.login-features {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.login-features a {
	font-size: 10pt;
	color: rgb(139, 139, 139);
	margin-bottom: 10px;
}

.login-instead {
	display: block;
	padding: 10px;
	color: var(--red) !important;
	border: 1px solid var(--red);
	text-decoration: none;
	border-radius: 4px;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

.input-button {
	display: block;
	padding: 10px;
	width: 100%;
	border: none;
	background-color: var(--red);
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

.alert-error {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	border: 1px solid var(--alert-border);
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
}

.alert-error i {
	color: var(--alert-icon);
}

.alert-error section {
	width: 100%;
	color: var(--red);
	margin-left: 20px;
}

.alert-error section h1 {
	font-size: 11pt;
}

.alert-error section p {
	font-size: 10pt;
}

.error-input {
	border: 1px solid var(--red) !important;
}

.sign-up-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 90px 0;
}

.sign-up-container > div {
	border: 1px solid var(--gray);
	padding: 30px 40px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.sign-up-container figure {
	margin: 0;
	text-align: center;
}

.sign-up-container figure img {
	width: 150px;
	margin-bottom: 20px;
}

.reg-basic-profile {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.reg-basic-profile > div {
	padding: 10px;
}

.required {
	color: var(--red);
}

.verification-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.verification-container > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--gray);
	padding: 30px 40px;
	border-radius: 5px;
}

.verification-container img {
	width: 150px;
	margin-bottom: 30px;
}

.input-code-box {
	width: 40px;
	height: 40px;
	border: 1px solid var(--gray);
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.code-box {
	text-align: center;
	margin-top: 40px;
}

.verification-form {
	color: var(--black);
}

.verification-form button {
	margin-top: 30px;
}

.verification-form h1 {
	font-size: 14pt;
}

.verification-container p {
	font-size: 11pt;
}

.resend-container {
	margin-top: 40px;
	text-align: center;
}

.resend-container a {
	color: var(--black);
	font-size: 10pt;
	text-decoration: none;
}

.reg-univ-profile {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 20px;
}

.reg-univ-profile div {
	padding: 10px;
}

.interest-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.interest {
	padding: 10px;
	display: flex;
	align-items: center;
}

.interest span {
	font-size: 11pt;
	margin-left: 10px;
}

.center-align {
	display: inline-block;
}

nav {
	/* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2); */
	padding: 10px 100px;
	border-bottom: 1px solid #d6d6d6;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav ul li:first-child {
	width: 100%;
}

nav ul li a img {
	width: 100px;
}

.user-pic {
	border-radius: 100%;
	width: 40px;
}

.user-pic-container {
	display: flex;
	justify-content: flex-end;
}

.user-pic-container a img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 2px solid var(--red);
}

.pages-navigator ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.pages-navigator ul li a {
	text-decoration: none;
	color: #555;
	padding: 10px 20px;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 11pt;
}

.pages-navigator ul li a:hover {
	background-color: #f9f9f9;
}

.active-page {
	font-weight: bold;
	background-color: #f9f9f9;
}

.post-container {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	grid-column-gap: 100px;
	padding: 0 100px;
	margin-top: 50px;
}

.container-container,
.pages-navigator {
	position: sticky;
	top: 40px;
}

.container-action {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
}

.container-action a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	width: 100%;
	border: none;
	font-size: 9pt;
	border-radius: 5px;
	background-color: var(--red);
	font-weight: bold;
	text-align: center;
}

.container-divider {
	border: none;
	border-bottom: 1px solid var(--gray);
	margin: 15px 0;
}

.container-own > h1,
.container-joined > h1 {
	font-size: 11pt;
	color: var(--black);
}

.container-joined,
.container-own {
	display: flex;
	flex-direction: column;
}

.container-card:hover {
	background-color: #f9f9f9;
	font-weight: bold;
}

.container-card {
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	color: var(--black);
	font-size: 10pt;
	display: block;
}

.post-card {
	/* padding: 20px; */
	border: 1px solid var(--gray);
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
}

.post-header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.post-header figure {
	margin: 0;
	padding: 0;
}

.post-header figure img {
	width: 40px;
	border-radius: 100%;
	display: block;
}

.post-header h1 {
	font-size: 10pt;
	margin: 0;
}

.post-header time {
	font-size: 9pt;
}

.post-header section {
	margin-left: 10px;
	width: 100%;
}

.post-header div {
	display: flex;
	justify-content: flex-end;
}

.post-body p {
	font-size: 11pt;
}

.post-body figure {
	margin: 0;
}

.post-body figure img {
	width: 100%;
}

.post-body-text {
	padding: 5px 20px;
}

.post-footer {
	display: flex;
	font-size: 10pt;
	color: var(--black);
	padding: 10px;
	border-top: 1px solid var(--gray);
}

.post-footer a {
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
}

.post-footer a:hover {
	background-color: #f9f9f9;
}

.post-body {
	padding: 10px 0;
	word-break: break-all;
}

.post-option,
.comment-option {
	position: absolute;
	background-color: #fff;
	border: 1px solid var(--gray);
	border-radius: 5px;
	display: none;
	z-index: 99999;
}

.comment-option {
	z-index: 99999999999;
}

.post-option-toggle {
	color: var(--black);
}

.up-vote,
.down-vote {
	color: var(--black);
}

.post-option ul,
.comment-option ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.post-option ul li a,
.comment-option ul li a {
	font-size: 10pt;
	color: var(--black);
	text-decoration: none;
	display: block;
	padding: 10px;
}

.post-option ul li a:hover,
.comment-option ul li a:hover {
	background-color: #f9f9f9;
}

.post-option ul li:not(:last-child) a,
.comment-option ul li:not(:last-child) a {
	border-bottom: 1px solid var(--gray);
}

.comment-modal {
	background-color: rgba(255, 255, 255, 0.336);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	overflow: hidden;
	display: none;
}

.comment-box {
	padding: 10px;
	background-color: #fff;
	position: absolute;
	height: 100%;
	border-left: 1px solid var(--gray);
	width: 400px;
	display: grid;
	animation: slideRight 370ms ease-in forwards;
	grid-template-rows: 1fr 10fr 1fr;
}

@keyframes slideRight {
	from {
		right: -400px;
	}

	to {
		right: 0;
	}
}

.comment {
	color: var(--black);
}

.comment-body {
	overflow-y: scroll;
}

.comment-body::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 10px;
}

.comment-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background-color: #ececec;
	border-radius: 50px;
}

.comment-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	background-color: rgb(248, 248, 248);
}

.comment-header h1 {
	font-size: 12pt;
	width: 100%;
	margin-right: 50px;
}

.comment-header {
	padding: 10px 20px;
	display: flex;
	color: var(--black);
	align-items: center;
	margin-bottom: 20px;
}

.comment-section {
	border: 1px solid var(--gray);
	margin-bottom: 10px;
}

.comment-section-header {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	width: 100%;
	padding: 20px 20px;
	grid-column-gap: 10px;
}

.comment-section-header figure {
	margin: 0;
}

.comment-section-header figure img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.comment-section-header > div h1 {
	font-size: 10pt;
	margin: 0;
	color: var(--black);
}

.comment-section-header a {
	text-align: end;
}

.comment-section-header > div time {
	font-size: 10pt;
}

.comment-section-body {
	padding: 0 20px;
	font-size: 10pt;
	color: var(--black);
}

.comment-footer {
	/* padding: 10px; */
	display: flex;
	margin-top: 10px;
}

.comment-footer input:focus {
	outline: none;
}

.comment-footer input {
	width: 100%;
	margin-right: 5px;
	border: 1px solid rgb(187, 187, 187);
	padding: 10px;
	border-radius: 5px;
}

.comment-footer button {
	padding: 10px 20px;
	border: none;
	background-color: var(--red);
	color: #fff;
	border-radius: 5px;
}

.comment-section-footer {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.comment-section-footer a:first-child {
	font-size: 10pt;
	color: var(--black);
	padding: 10px;
}

.comment-section-footer a:last-child {
	margin-left: 10px;
	text-decoration: none;
	color: var(--black);
	font-size: 10pt;
	padding: 10px;
}

.comment-section-footer a:first-child:hover,
.comment-section-footer a:last-child:hover {
	background-color: var(--gray);
	border-radius: 5px;
}

.groups-action {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}

.groups-action a {
	font-size: 10pt;
	text-decoration: none;
	color: var(--black);
	padding: 10px 15px;
	border-radius: 5px;
}

.groups-action a:hover {
	background-color: #f9f9f9;
}

.force-left {
	text-align: left !important;
	display: flex;
}

.fw-button a {
	background-color: var(--red) !important;
	color: #fff !important;
}

.post-modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.336);
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
	align-items: center;
	justify-content: center;
}

#post-modal-files {
	display: none;
}

#post-modal-upload-details {
	padding: 5px 15px;
	border-radius: 50px;
	background-color: var(--red);
	color: #fff;
	display: inline-flex;
	align-items: center;
}

.cancel-upload-files {
	text-decoration: none;
	color: #fff;
}

.post-modal-upload {
	padding: 10px;
	text-decoration: none;
	color: var(--black);
	font-size: 16pt;
	margin-top: 15px;
	display: inline-block;
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.post-modal-box {
	background-color: #fff;
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 5px;
	width: 500px;
}

.post-modal-body button {
	width: 100%;
	margin-top: 10px;
	padding: 10px 0;
	border: none;
	background-color: var(--red);
	color: #fff;
	border-radius: 5px;
}

.post-modal-header {
	display: flex;
	padding: 10px;
}

.post-modal-header h5 {
	width: 100%;
	margin: 0;
}

.report-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.report-box {
	background-color: #fff;
	border: 1px solid var(--gray);
	border-radius: 5px;
	width: 300px;
}

.report-header {
	padding: 20px;
	display: flex;
	align-items: center;
}

.report-header h5 {
	margin: 0;
	width: 100%;
}

.report-body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.report-body ul li:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.report-body ul li label,
.report-footer {
	padding: 10px 20px;
	display: block;
	font-size: 10pt;
}

#report-submit {
	display: block;
	padding: 10px;
	width: 100%;
	border: none;
	background-color: var(--red);
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

.delete-modal,
.delete-member-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
	left: 0;
	z-index: 9999;
}

.delete-member-modal {
	z-index: 9999999999;
}

.delete-box,
.delete-member-box {
	background-color: #fff;
	border: 1px solid var(--gray);
	border-radius: 5px;
}

.delete-body,
.delete-member-body {
	padding: 20px 30px;
	font-size: 11pt;
}

.delete-footer,
.delete-member-footer {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.delete-footer button,
.delete-member-footer button {
	padding: 10px 20px;
	border: none;
	background-color: var(--red);
	color: #fff;
	border-radius: 5px;
}

.delete-footer button:last-child,
.delete-member-footer button:last-child {
	border: 1px solid gray;
	color: var(--black);
	background-color: #fff;
}

.user-based {
	display: none;
}

#post-image-container {
	display: grid;
	margin: 30px 0;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}

.image-container {
	position: relative;
	border-radius: 5px;
	z-index: 999;
}

.image-container a {
	color: #fff;
	display: none;
	border-radius: 5px;
}

.image-container:hover > a {
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: #fff !important;
	display: flex;
}

.post-image-delete {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
}

#post-image-container img {
	width: 100px;
	padding: 10px 0;
	display: block;
	border-radius: 5px;
	border: 1px solid var(--gray);
}

.splide__slide img {
	width: 100% !important;
}

.selected-delete {
	background-color: #c52e476b !important;
}

.account-option {
	position: absolute;
	top: 60px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid var(--gray);
	z-index: 9999;
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
	display: none;
}

.account-option ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.account-option ul li:not(:last-child) {
	width: 100%;
	border-bottom: 1px solid var(--gray);
}

.account-option ul li a {
	text-decoration: none;
	font-size: 10pt;
	color: var(--black);
	padding: 10px 15px;
	display: block;
	padding-right: 30px;
}

.account-option ul li a:hover {
	background-color: #efefefcc;
}

.user-pic-container:hover .account-option {
	display: block;
	animation: pullDown 100ms ease-in forwards;
}

.create-group-modal,
.search-group-modal,
.members-modal {
	display: none;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	justify-content: center;
	z-index: 999999;
	top: 0;
	left: 0;
}

.create-group-box,
.search-group-box,
.members-box {
	padding: 20px;
	border: 1px solid var(--gray);
	background-color: #fff;
	width: 400px;
	max-height: 400px;
	overflow-y: scroll;
}

.create-group-box::-webkit-scrollbar,
.search-group-box::-webkit-scrollbar,
.members-box::-webkit-scrollbar {
	width: 10px;
}

.create-group-box::-webkit-scrollbar-thumb,
.search-group-box::-webkit-scrollbar-thumb,
.members-box::-webkit-scrollbar-thumb {
	background-color: #ececec;
	border-radius: 50px;
}

.create-group-box::-webkit-scrollbar-track,
.search-group-box::-webkit-scrollbar-track,
.members-box::-webkit-scrollbar-track {
	background-color: rgb(248, 248, 248);
}

.search-group-box {
	width: unset;
}

.create-group-header,
.search-group-header,
.members-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.create-group-header h1,
.search-group-header h1,
.members-header h1 {
	margin: 0;
	font-size: 12pt;
	width: 100%;
	color: var(--black);
}

.create-group-header a,
.search-group-header a,
.members-header a {
	color: var(--black);
}

.create-group-body form {
	width: 100%;
}

.create-group-body form input,
.create-group-body form select,
.search-input-container input,
.search-group-body select {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	margin-bottom: 10px;
	outline: none;
}

.create-group-body form label {
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
	color: var(--black);
}

.create-group-body form button {
	padding: 10px;
	width: 100%;
	background-color: var(--red);
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 15px;
}

.search-interest-card {
	display: flex;
	align-items: center;
	border: 1px solid var(--gray);
	padding: 10px;
}

.search-interest-card label {
	width: 100%;
	margin-left: 5px;
	font-size: 10pt;
}

.search-interest-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	grid-gap: 10px;
}

.search-input-container {
	display: block;
	align-items: center;
	margin-bottom: 10px;
}

.search-input-container label {
	margin-right: 10px;
	width: 100%;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
	color: var(--black);
	font-size: 11pt;
}

.search-input-container input {
	width: 100%;
}

.search-result-container {
	border-top: 1px solid var(--gray);
	margin-top: 15px;
	padding: 15px 10px;
}

.search-result-container > h1 {
	font-size: 11pt;
	text-align: center;
	font-weight: normal;
}

.search-group-body > label {
	font-size: 11pt;
	margin-bottom: 10px;
	font-weight: bold;
	color: var(--black);
	display: block;
}

.search-group-card {
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.search-group-card section {
	width: 100%;
}

.search-group-card a {
	padding: 10px 20px;
	background-color: var(--red);
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
}

.search-group-card section h1 {
	font-size: 12pt;
	color: var(--black);
	margin: 0;
}

.group-members-card {
	display: flex;
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	align-items: center;
}

.group-members-card img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.group-members-card h1 {
	width: 100%;
	font-size: 10pt;
	color: var(--black);
	margin: 0 10px;
}

.group-members-card a {
	margin-right: 10px;
	color: var(--black);
	font-size: 10pt;
}

.members-body > a {
	font-size: 10pt;
	color: var(--black);
	border: 1px solid var(--gray);
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
	margin-bottom: 15px;
	border-radius: 4px;
}

.members-body > a:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.admin-panel {
	display: grid;
	grid-template-columns: 2fr 9fr;
	margin: 0 100px;
	margin-top: 30px;
	grid-column-gap: 50px;
	margin-bottom: 30px;
}

.admin-action-panel > a {
	margin: 0;
	margin-bottom: 15px;
	color: var(--black);
	padding: 10px;
	font-size: 14pt;
	text-align: center;
	border-radius: 4px;
	border: 1px solid var(--gray);
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.admin-action-panel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.admin-action-panel ul li {
	margin-bottom: 5px;
}

.admin-action-panel ul li a {
	display: block;
	padding: 10px;
	font-size: 10pt;
	text-decoration: none;
	color: var(--black);
	border-radius: 4px;
}

.admin-action-panel ul li a:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.admin-action-panel ul a i {
	margin-right: 10px;
}

.member-request-header {
	padding: 15px 20px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 15px;
}

.select-all-container {
	display: flex;
	align-items: center;
	font-size: 10pt;
}

.select-all-container input {
	margin: 0;
	margin-right: 5px;
}

.member-request-action {
	text-align: right;
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
}

.member-request-action a {
	text-decoration: none;
	font-size: 10pt;
	margin-right: 5px;
}

.member-request-action a:first-child,
.member-request-action a:last-child {
	background-color: var(--red);
	color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
}

.member-request-action a:last-child {
	background-color: #fff;
	color: var(--black);
	border: 1px solid var(--gray);
}

.member-request-card-header {
	display: flex;
	padding: 10px 15px;
}

.mr-card-header {
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.mr-card-header img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}

.mr-card-header-author h1 {
	margin: 0;
	font-size: 11pt;
}

.mr-card-header-author time {
	font-size: 9pt;
}

.member-request-card {
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.admin-panel-selected {
	font-weight: bold;
}

.rc-card {
	padding: 15px;
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.rc-card-content {
	margin: 5px 100px;
}

.rc-card-content > div {
	margin-bottom: 40px;
	display: block;
}

.manage-roles-header {
	padding: 10px 15px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	display: flex;
}

.manage-roles-header > a {
	text-decoration: none;
	color: #fff;
	background-color: var(--red);
	border-radius: 4px;
	border: none;
	padding: 5px 10px;
	display: block;
	font-size: 10pt;
	font-weight: bold;
	margin-right: 10px;
}

.manage-roles-header > input {
	padding: 5px 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.manage-roles-content {
	margin-top: 15px;
}

.manage-roles-table {
	width: 100%;
}

.manage-roles-table thead tr {
	text-align: left;
}

.manage-roles-table tbody tr {
	margin-bottom: 10px;
}

.manage-roles-table thead th,
.manage-roles-table tbody td {
	padding: 10px;
	color: var(--black);
	font-weight: bold;
	font-size: 10pt;
}

.manage-roles-table tbody td {
	font-weight: normal;
}

.manage-roles-table tbody td a {
	text-decoration: none;
	background-color: var(--red);
	color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 10pt;
	display: inline-block;
	margin-right: 10px;
}

.manage-roles-table tbody td a:last-child {
	border: 1px solid var(--gray);
	background-color: #fff;
	color: var(--black);
}

.manage-permission-header {
	padding: 10px 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.manage-permission-header > div:first-child select {
	padding: 10px 20px;
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.manage-permission-header > div:last-child {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.manage-permission-header > div:last-child a {
	font-size: 10pt;
	text-decoration: none;
	color: var(--black);
	font-weight: bold;
}

.manage-permission-card {
	display: flex;
	align-items: center;
	color: var(--black);
	padding: 10px 20px;
}

.manage-permission-card h1 {
	font-size: 11pt;
	width: 100%;
}

.toggler {
	width: 50px;
	height: 23px;
	background-color: var(--red);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 3px;
	transition: all 300ms;
}

.toggler-thumb {
	background-color: #fff;
	border-radius: 100%;
	font-size: 9pt;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--red);
	transition: all 300ms;
}

.toggler-off {
	background-color: rgba(0, 0, 0, 0.2);
}

.thumb-on {
	transform: translateX(24px);
}

.rc-reason {
	font-size: 10pt;
}

.rc-reason select {
	padding: 10px;
	width: 100%;
	border: 1px solid var(--gray);
	border-radius: 4px;
}

.members-modal {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 99999999;
}

.members-modal-box {
	width: 400px;
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	background-color: #fff;
}

.members-modal-header {
	display: flex;
	align-items: center;
	margin: 15px 20px;
}

.members-modal-header h1 {
	width: 100%;
	font-size: 11pt;
	color: var(--black);
	margin: 0;
}

.members-modal-header a {
	color: var(--black);
}

.role-member-card {
	padding: 10px 15px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.role-member-card img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.role-member-card h1 {
	margin: 0;
	color: var(--black);
	font-size: 10pt;
	margin: 0 10px;
	width: 100%;
}

.role-member-card a {
	font-size: 9pt;
	background-color: var(--red);
	padding: 5px 10px;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
}

.account-container {
	padding: 0 100px;
	margin-top: 50px;
}

.account-cover {
	padding: 100px;
	border-radius: 4px;
}

.account-action ul {
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: flex-end;
}

.account-action ul li {
	margin-bottom: 10px;
}

.account-action ul li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: var(--black);
	font-size: 10pt;
}

.account-action ul li a:hover {
	font-weight: bold;
	background-color: #f9f9f9;
}

.account-active-option {
	font-weight: bold;
}

.account-profile,
.account-settings {
	padding: 0 30px;
	display: flex;
	justify-content: center;
}

.account-profile {
	display: unset;
	justify-content: unset;
}

.profile-container {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--gray);
	/* padding: 30px; */
	border-radius: 4px;
}

.profile-container img,
.account-image-container img {
	width: 110px;
	height: 110px;
	border-radius: 100%;
	border: 5px solid #c5263b;
	padding: 5px;
}

.profile-container img {
	background-color: #f3f3f3;
	position: absolute;
	top: -80px;
	left: 20px;
	border: 5px solid #fff;
}

.profile-cover {
	background-image: url("../public/assets/cover-1.png");
	padding: 80px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -100px;
}

.account-image-container {
	text-align: center;
	margin-bottom: 15px;
}

.profile-container h1 {
	font-size: 16pt;
	margin-top: 15px;
}

.profile-main {
	padding: 30px;
	position: relative;
}

.profile-container p {
	font-size: 10pt;
	color: var(--black);
}

.account-update {
	padding: 30px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	width: 350px;
}

.account-update form > * {
	display: block;
	width: 100%;
}

.account-update form label {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 5px;
}

.account-update form input,
.account-update form select {
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	margin-bottom: 10px;
}

.account-update form button {
	padding: 10px;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	color: #fff;
	background-color: var(--red);
}

.account-image-container input[type="file"] {
	display: none;
}

.account-image-action {
	display: flex;
	margin: 30px 0;
}

.account-image-action a {
	width: 100%;
}

.account-image-action a:first-child {
	margin-right: 10px;
}

.account-image-cancel:disabled {
	border: 1px solid #c47e8a;
	color: #c47e8a;
}

.solid-button {
	padding: 10px;
	text-decoration: none;
	color: #fff;
	background-color: var(--red);
	border-radius: 4px;
	font-size: 10pt;
}

.shallow {
	background-color: transparent;
	border: 1px solid var(--red);
	color: var(--red);
}

#select-group-image {
	width: 350px;
}

.select-group-container {
	text-align: center;
}

.select-group-container p {
	margin: 0;
}

.account-container section {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	grid-column-gap: 20px;
}

.account-activities {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.activity-card {
	width: 400px;
	border: 1px solid var(--gray);
	padding: 10px 0;
	border-radius: 4px;
	margin-bottom: 10px;
}

.activity-card-header {
	display: flex;
	align-items: center;
	padding: 5px 20px;
}

.activity-card-header p {
	margin: 0;
	width: 100%;
	font-size: 10pt;
}

.activity-card-header a {
	color: var(--black);
}

.activity-card-content {
	padding: 10px 20px;
}

.badge {
	display: block;
	font-size: 10pt;
	border-radius: 50px;
	color: #fff;
	padding: 5px 15px;
	margin-right: 10px;
}

.badge-blue {
	background-color: dodgerblue;
}

.badge-green {
	background-color: #4bab73;
}

.badge-orange {
	background-color: #db8d00;
}

.badge-red {
	background-color: var(--red);
}

.pop {
	animation: pop 500ms ease-in forwards;
}

.divider {
	margin: 20px 0;
	fill: var(--gray);
	border: 1px solid var(--gray);
}

.forgot-password-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.forgot-password-box {
	border: 1px solid var(--gray);
	border-radius: 4px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

.forgot-password-box h1 {
	margin: 30px 0;
	font-size: 16pt;
	color: var(--black);
}

.forgot-password-box img {
	width: 150px;
}

.forgot-password-box form {
	width: 100%;
}

.forgot-password-box form * {
	display: block;
	width: 100%;
}

.forgot-password-box input {
	padding: 10px;
	border: 1px solid var(--gray);
	border-radius: 4px;
	outline: none;
}

.forgot-password-box button {
	border: none;
	background-color: var(--red);
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
	margin-top: 15px;
}

.forgot-password-box a {
	text-decoration: none;
	color: rgb(139, 139, 139);
	font-size: 10pt;
	margin: 10px 0;
	margin-bottom: 15px;
}

.forgot-password-box label {
	margin: 15px 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--black);
}

.success-sent-email a {
	text-decoration: none;
	font-size: 10pt;
	/* font-weight: bold; */
	color: #fff;
	padding: 10px 20px;
	background-color: var(--red);
	border-radius: 4px;
	display: inline-block;
	margin-top: 10px;
}

.replying-to {
	padding: 10px;
	border-left: 5px solid #dbdbdb;
	width: 100%;
}

.replying-to h1 {
	font-size: 10pt;
	margin: 0;
	color: #555;
	margin-bottom: 5px;
}

.replying-to p {
	margin: 0;
	font-size: 9pt;
	color: #6a6a6a;
}

.reply-container {
	display: flex;
	align-items: center;
}

.close-reply {
	padding: 10px;
	text-decoration: none;
	color: #555;
}

.reply-card {
	margin-left: 30px;
}

#comment-button-update {
	display: none;
}

#college-select,
#college-label {
	display: none;
}

.as-announcement {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.as-announcement label {
	font-size: 10pt;
}

#back-non {
	padding: 10px;
	display: inline-block;
	font-size: 10pt;
	color: var(--black);
	margin-bottom: 20px;
	text-decoration: none;
}

#back-non:hover {
	background-color: #f9f9f9;
	border-radius: 4px;
}

.announcement-icon {
	color: white;
	position: absolute;
	right: 5px;
	top: -15px;
	background-color: var(--red);
	padding: 8px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 9pt;
}

.not-verified {
	text-align: center;
}

.not-verified h1 {
	color: var(--black);
	margin: 40px 0;
}

.not-verified i {
	font-size: 50pt;
	color: var(--red);
}

.not-verified p {
	font-size: 10.5pt;
	color: var(--black);
}

.delete-org-not {
	padding: 10px;
	font-size: 10pt;
	display: inline-block;
	color: black;
	border-radius: 4px;
	margin-top: 40px;
}

.verify-again {
	padding: 10px;
	font-size: 10pt;
	background-color: var(--red);
	display: inline-block;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 40px;
}

#search-use-org-type {
	margin-bottom: 20px;
}

.admin-lock {
	padding: 0 20px;
	color: var(--black);
}

.flex-display {
	display: flex;
	justify-content: center;
}

.org-card-container {
	margin-top: 40px;
}

.org-card-container ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.org-card-container ul li a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: var(--black);
	font-size: 10pt;
}

.org-card-container ul li:not(:last-child) {
	margin-right: 20px;
}

.org-card-container ul li a:hover {
	background-color: #f9f9f9;
	border-radius: 4px;
	font-weight: bold;
}

.org-card {
	border: 1px solid var(--gray);
	border-radius: 4px;
	font-size: 10pt;
	padding: 15px 20px;
	margin-bottom: 15px;
}

.org-approve,
.org-decline {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	color: var(--black);
	margin-top: 10px;
	border-radius: 4px;
}

.org-approve {
	background-color: var(--red);
	color: #fff;
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pullDown {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(-5px);
		opacity: 1;
	}
}
